<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<!-- 	이 안에는 SQL이 사용할 데이터 타입의 별칭을 등록한다. -->
		<!-- 
		<typeAlias alias="mdata" type="com.isundol.dol.data.MemberData" />
		 -->

	</typeAliases>
	
	
	
	<mappers>
		<!-- 	이 안에는 사용할 SQL의 xml 파일을 등록한다. 
		<mapper resource="/com/isundol/dol/sql/MemberSQL.xml" />
		-->
		<mapper resource="/com/spinrg/test/sql/SampleSQL.xml" />
	</mappers>
</configuration>
